* {
  /* margin-top: 0px;
  margin-bottom: 0px; */
  text-align: center;
  font-family: "Poiret One", cursive;
  color: #f0fff0;
  font-weight: 700;
}

.blue-custom {
  background-color: #085996!important;
}

.red-custom {
    background-color: #96130F!important;
}

.green-custom {
    background-color: #089637!important;
}

body {
  background-color: black;
}

img {
  width: 50px;
  height: 50px;
  margin-left: 230px;
  margin-top: 4px;
  fill: honeydew;
}

#ingredient-input {
  font-family: "Poiret One", cursive;
}

.collapsible {
  text-align: center;
  background: none;
}

#ingredients,
#ingredient-list,
#recipe,
#maps,
#instructions {
  margin: 0.75rem;
  outline: none;
}

#ingredient-list{
  font-size: 1.5rem;
}

.collapsible-header {
  font-size: 1.5rem;
}

.collection {
  background-color: black;
  border: 0 !important;
  box-shadow: none !important;
  padding: 1rem;
}

.collapsible-header,
.collapsible-body,
.collapsible,
ul.collapsible > li {
  border: 0.5px solid !important;
  box-shadow: none !important;
}
