* {
    margin-top:0px ;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #f0fff0;
    font-weight:bold;
    
}

body {
    background-color: black;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 230px;
    margin-top: 4px;
    fill: honeydew;

}

#input-field{
    font-family: 'Poiret One', cursive;

}


.collection {
    background-color: black;
}
